/* your styles go here */
/* Example site test */

.box-image-text .image {
    min-height: 300px;
    max-height: 300px;
}

.box-image-text .image img {
    max-height: 300px;
    margin: auto;
}

.box-simple {
    min-height: 340px;
}
